In [1]:
import pandas as pd
import numpy as np

**Problem:**

You are given the following dataset:
1. **Audible Data** : https://1drv.ms/u/s!AiqdXCxPTydhoog8ckLN-6Cw55fzIg?e=EWgZ5d

Your task is to:
- Find the problems with the datasets.
- Define the Data Quality Dimensions.
- Try to clean the datasets.

In [2]:
df = pd.read_excel('audible_uncleaned.xlsx')

In [3]:
df

,name,author,narrator,time,releasedate,language,stars,price
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,2008-04-08 00:00:00,English,5 out of 5 stars34 ratings,468
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,2018-01-05 00:00:00,English,4.5 out of 5 stars41 ratings,820
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,2020-06-11 00:00:00,English,4.5 out of 5 stars38 ratings,410
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,2021-05-10 00:00:00,English,4.5 out of 5 stars12 ratings,615
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,2010-01-13 00:00:00,English,4.5 out of 5 stars181 ratings,820
...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,2017-09-03 00:00:00,English,Not rated yet,596
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,Not rated yet,820
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,Not rated yet,938
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,Not rated yet,680
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,2017-07-03 00:00:00,English,Not rated yet,569

Problems with the dataset
1. Dirty data
    - author col has Writtenby: which is not needed `accuracy`
    - narrator col has Narratedby: which is not needed `accuracy`
    - author and narrator first and last names are joned together `consistency`
    - time is not datetime format `consistency`
    - release date has dates separated by / and some dates separated by - `consistency`
    - ratings has comma separation `consistency`
    - stars has out of 5 and improper format `consistency`
    - price is innacurately represented by inserting commas `consistency`
    - price is an object `validity`
    - price has 'Free' at iloc = 983 `validity`
2. Messy data
    - stars has total ratings inside it which needs separate column `validity`

In [4]:
df.sample(10)

,name,author,narrator,time,releasedate,language,stars,price
4100,Creating the Constitution: 1787,"Writtenby:JamesLincolnCollier,ChristopherCollier",Narratedby:JimManchester,1 hr and 53 mins,14-06-13,English,Not rated yet,468
34813,Maigrir grÃ¢ce Ã l'autohypnose,Writtenby:SandrineBelmont,Narratedby:CaroleBellanger,2 hrs and 31 mins,2020-04-06 00:00:00,french,Not rated yet,301
22533,The Politically Incorrect Guide to the Presidents,Writtenby:StevenF.Hayward,Narratedby:JohnnyHeller,9 hrs and 57 mins,14-02-12,English,Not rated yet,836
79499,2011å¹´5æœˆ4é€±ç›® ãƒ´ã‚©ã‚¤ãƒ‹ãƒƒãƒã®ç§‘å­¦æ›¸,"Writtenby:ä¸­è¥¿è²´ä¹‹,BJ","Narratedby:ä¸­è¥¿è²´ä¹‹,BJ",34 mins,15-05-18,japanese,Not rated yet,139
3829,The Cart That Carried Martin,Writtenby:EveBunting,Narratedby:TimothyCap,4 mins,15-11-19,English,Not rated yet,63
55788,Ð’Ð»Ð°Ð´Ñ‹ÐºÐ° Ð¼Ð¸Ñ€Ð° [Lord of the World],Writtenby:OlgaGron,"Narratedby:OlegKejnz,GalinaKejnz",11 hrs and 1 min,28-02-22,russian,Not rated yet,234
49171,Cleopatra,Writtenby:HenryRiderHaggard,Narratedby:BrianTroxell,10 hrs and 33 mins,2012-06-02 00:00:00,English,Not rated yet,234
33295,Waldspaziergang gegen Stress - Meditation AA -...,Writtenby:ChristianeM.Heyn,Narratedby:ChristianeM.Heyn,25 mins,19-04-21,german,Not rated yet,132
35015,American Contagions,Writtenby:JohnFabianWitt,Narratedby:MikeChamberlain,2 hrs and 55 mins,16-02-21,English,Not rated yet,351
33749,Speaking of Apraxia (Second Edition),Writtenby:LeslieA.Lindsay,Narratedby:LeslieA.Lindsay,18 hrs and 52 mins,2021-06-07 00:00:00,English,Not rated yet,1382

In [5]:
#no missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [6]:
df.isnull().sum()

name           0
author         0
narrator       0
time           0
releasedate    0
language       0
stars          0
price          0
dtype: int64

In [7]:
#no duplicates
df[df.duplicated()]

Empty DataFrame
Columns: [name, author, narrator, time, releasedate, language, stars, price]
Index: []

In [8]:
df.describe()

,name,author,narrator,time,releasedate,language,stars,price
count,87489,87489,87489,87489,87489,87489,87489,87489
unique,82767,48374,29717,2284,5059,36,665,1011
top,The Art of War,"Writtenby:çŸ¢å³¶é›…å¼˜,çŸ³æ©‹éŠ",Narratedby:anonymous,2 mins,16-05-18,English,Not rated yet,586
freq,20,874,1034,372,773,61884,72417,5533

In [9]:
_ = df.copy()

Define
1. Replace 'Free' with 0 in price column
2. convert price to int
3. Split the stars and ratings out of the stars col into different col
4. Remove Written by and narreted by from respective col
5. Convert time to playtime in hours
6. change release date to datetime format
7. Separate the first and last names of authors and narrators

In [31]:
_.price = _.price.astype(str).str.replace('Free','0').astype('float').round().astype('int16')

In [11]:
_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  int16
dtypes: int16(1), object(7)
memory usage: 4.8+ MB

In [12]:
_['ratings'] = _.stars.str.split('stars').str.get(1).str.split().str.get(0)

In [13]:
_.stars = _.stars.str.split('stars').str.get(0).str.split().str.get(0).str.replace('Not','NaN')

In [14]:
_

,name,author,narrator,time,releasedate,language,stars,price,ratings
0,Geronimo Stilton #11 & #12,Writtenby:GeronimoStilton,Narratedby:BillLobely,2 hrs and 20 mins,2008-04-08 00:00:00,English,5,468,34
1,The Burning Maze,Writtenby:RickRiordan,Narratedby:RobbieDaymond,13 hrs and 8 mins,2018-01-05 00:00:00,English,4.5,820,41
2,The Deep End,Writtenby:JeffKinney,Narratedby:DanRussell,2 hrs and 3 mins,2020-06-11 00:00:00,English,4.5,410,38
3,Daughter of the Deep,Writtenby:RickRiordan,Narratedby:SoneelaNankani,11 hrs and 16 mins,2021-05-10 00:00:00,English,4.5,615,12
4,"The Lightning Thief: Percy Jackson, Book 1",Writtenby:RickRiordan,Narratedby:JesseBernstein,10 hrs,2010-01-13 00:00:00,English,4.5,820,181
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Writtenby:ChrisStewart,Narratedby:ChrisStewart,7 hrs and 34 mins,2017-09-03 00:00:00,English,NaN,596,NaN
87485,The Alps,Writtenby:StephenO'Shea,Narratedby:RobertFass,10 hrs and 7 mins,21-02-17,English,NaN,820,NaN
87486,The Innocents Abroad,Writtenby:MarkTwain,Narratedby:FloGibson,19 hrs and 4 mins,30-12-16,English,NaN,938,NaN
87487,A Sentimental Journey,Writtenby:LaurenceSterne,Narratedby:AntonLesser,4 hrs and 8 mins,23-02-11,English,NaN,680,NaN
87488,Havana,Writtenby:MarkKurlansky,Narratedby:FleetCooper,6 hrs and 1 min,2017-07-03 00:00:00,English,NaN,569,NaN

In [15]:
_.author = _.author.str.split(":").str.get(1)

In [16]:
_.narrator =  _.narrator.str.split(":").str.get(1)

In [17]:
_.releasedate =  pd.to_datetime(_.releasedate)

In [18]:
_

,name,author,narrator,time,releasedate,language,stars,price,ratings
0,Geronimo Stilton #11 & #12,GeronimoStilton,BillLobely,2 hrs and 20 mins,2008-04-08,English,5,468,34
1,The Burning Maze,RickRiordan,RobbieDaymond,13 hrs and 8 mins,2018-01-05,English,4.5,820,41
2,The Deep End,JeffKinney,DanRussell,2 hrs and 3 mins,2020-06-11,English,4.5,410,38
3,Daughter of the Deep,RickRiordan,SoneelaNankani,11 hrs and 16 mins,2021-05-10,English,4.5,615,12
4,"The Lightning Thief: Percy Jackson, Book 1",RickRiordan,JesseBernstein,10 hrs,2010-01-13,English,4.5,820,181
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,ChrisStewart,ChrisStewart,7 hrs and 34 mins,2017-09-03,English,NaN,596,NaN
87485,The Alps,StephenO'Shea,RobertFass,10 hrs and 7 mins,2017-02-21,English,NaN,820,NaN
87486,The Innocents Abroad,MarkTwain,FloGibson,19 hrs and 4 mins,2016-12-30,English,NaN,938,NaN
87487,A Sentimental Journey,LaurenceSterne,AntonLesser,4 hrs and 8 mins,2011-02-23,English,NaN,680,NaN
87488,Havana,MarkKurlansky,FleetCooper,6 hrs and 1 min,2017-07-03,English,NaN,569,NaN

In [19]:
#function to convert playtime in hours
def timecorrection(a):
    if a.startswith('Less'):
        hrs = round(1/60,3)
    else:
        hrs = int(a.split()[0])
        try:
            min = int(a.split()[3])
        except:
            min = 0
        hrs = hrs + round(min/60,3)
    return hrs
s='2 hrs and 20 mins'
timecorrection(s)

2.333

In [20]:
_.time = _.time.apply(lambda x: timecorrection(x))

In [21]:
_.rename(columns={'time':'playtime_in_hours'},inplace=True)

In [22]:
_.stars  =_.stars.astype('float')

In [29]:
_.author = _.author.str.split('(?<=.)(?=[A-Z])').str.join(sep=' ')

In [30]:
_.narrator = _.narrator.str.split('(?<=.)(?=[A-Z])').str.join(sep=' ')

In [32]:
_

,name,author,narrator,playtime_in_hours,releasedate,language,stars,price,ratings
0,Geronimo Stilton #11 & #12,Geronimo Stilton,Bill Lobely,2.333,2008-04-08,English,5.0,468,34
1,The Burning Maze,Rick Riordan,Robbie Daymond,13.133,2018-01-05,English,4.5,820,41
2,The Deep End,Jeff Kinney,Dan Russell,2.050,2020-06-11,English,4.5,410,38
3,Daughter of the Deep,Rick Riordan,Soneela Nankani,11.267,2021-05-10,English,4.5,615,12
4,"The Lightning Thief: Percy Jackson, Book 1",Rick Riordan,Jesse Bernstein,10.000,2010-01-13,English,4.5,820,181
...,...,...,...,...,...,...,...,...,...
87484,Last Days of the Bus Club,Chris Stewart,Chris Stewart,7.567,2017-09-03,English,NaN,596,NaN
87485,The Alps,Stephen O' Shea,Robert Fass,10.117,2017-02-21,English,NaN,820,NaN
87486,The Innocents Abroad,Mark Twain,Flo Gibson,19.067,2016-12-30,English,NaN,938,NaN
87487,A Sentimental Journey,Laurence Sterne,Anton Lesser,4.133,2011-02-23,English,NaN,680,NaN
87488,Havana,Mark Kurlansky,Fleet Cooper,6.017,2017-07-03,English,NaN,569,NaN

In [24]:
_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               87489 non-null  object
 1   author             87489 non-null  object
 2   narrator           87489 non-null  object
 3   playtime_in_hours  87489 non-null  float64
 4   releasedate        87489 non-null  datetime64[ns]
 5   language           87489 non-null  object
 6   stars              15072 non-null  float64
 7   price              87489 non-null  int16
 8   ratings            15072 non-null  object
dtypes: datetime64[ns](1), float64(2), int16(1), object(5)
memory usage: 5.5+ MB